@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #f9d72d;
  --secondary-color: #d5a0a133;
  --main-color-buttons: #ddf247;
  --main-color-hover: #fff;
  --color-info: #03e0fd;

  --striped-1: #141a2a;
  --striped-2: #192033;
  --text-color: #ffffff88;
  --forms-bg: #23163b;
  --borders: #ffffff22;
  --text-light: #ffffff77;
  --text-strong: #CCC;
  --background: #0c0a18;
  --footer: #150d24;
}

@font-face {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  font-family: "Manrope";
  background-repeat: repeat;  
  background: var(--background) !important;
  overflow-x: hidden;
}

h2 {
  font-family: 'Manrope';
}

.top-margin {
  margin-top: 70px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.box {
  background: var(--forms-bg);
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 0 !important;
}

/* Scrollbar styles */
.scroll::-webkit-scrollbar,
.token-list-container::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track,
.token-list-container::-webkit-scrollbar-track {
  background: #2a2a2a;
}
.scroll::-webkit-scrollbar-thumb,
.token-list-container::-webkit-scrollbar-thumb {
  background-color: #3FE0C5;
  border-radius: 20px;
  border: 2px solid #2a2a2a;
}

.btn {
  border-radius: 12px !important;
  font-size: 0.9em !important;
}

.btn-big {
  padding: 30px 30px !important;    
}

.btn-primary {
  background-color: var(--main-color) !important;
  color: var(--background) !important;
  font-weight: bold !important;
  text-transform: unset !important;
}

.btn-primary:hover {
  background-color: var(--main-color-hover) !important;
  border-color: var(--main-color-hover) !important;
}

.btn-secondary {
  background-color: var(--main-color-hover) !important;
  color: var(--background) !important;
  font-weight: bold !important;
  text-transform: unset !important;
}

.btn-secondary:hover {
  background-color: var(--main-color) !important;
  border-color: var(--main-color-hover) !important;
}

.btn-danger {
  background-color: #dc2626 !important;
  color: white !important;
  font-weight: bold !important;
  text-transform: unset !important;
}

.btn-danger:hover {
  background-color: white !important;
  color: black !important;
  border-color: var(--main-color-hover) !important;
}

.btn-info {
  background-color: var(--main-color-buttons) !important;
  border: none;
  color: #EEE !important;
  font-weight: bold !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  background-color: var(--main-color-hover) !important;
  color: #EEE !important;
  box-shadow: none !important;
}

.btn-info:focus {
  box-shadow: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hand {
  font-family: 'Dancing Script', cursive;
}

input{
  background: #00000040;
}

.skeleton-card {
  border: 1px solid #1f232e;
  border-radius: 8px;
  padding: 20px;
  width: 220px;
  margin-right: 20px;
  animation: loading 1s infinite alternate;
}

.skeleton-card > div {
  background-color: #1f232e;
  margin-bottom: 10px;
}

.skeleton-image {
  width: 100%;
  height: 100px;
}

.skeleton-text {
  width: 100%;
  height: 20px;
}

.skeleton-button {
  width: 100px;
  height: 30px;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bg-info {
  background: #3498db !important;
}

.bg-warning {
  background: #f97316 !important;
}

.gradient-border {
  position: relative; /* Required for pseudo-ioning */
  padding: 2px; /* Adjust padding to match border width */
  z-index: 2 !important;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #b32ead, #41bddf);
  z-index: 0; /* Ensure the gradient is behind the content */
}

.toast-body div span {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-light {
  color: var(--text-light) !important;
}

.text-strong {
  color: var(--text-strong) !important;
}

.text-primary {
  color: var(--main-color) !important;
}

.font-manrope {
  font-family: 'Manrope';
}

.font-azeret {
  font-family: 'Azeret Mono';
}

.bg-form {
  background: var(--forms-bg);
}

.bg-input {
  background: var(--footer);
}

.focus-primary:focus {
  border: 1px solid var(--main-color) !important;
  box-shadow: unset;
  outline: unset;
}

.active {
  color: var(--main-color);
  font-weight: bold;
}

a {
  transition: all 0.2s ease;
}

a:hover {
  color: var(--main-color) !important;
}